body {
	font-family: 'Roboto', sans-serif;
	background:#000 url(../img/keptify-red.png) no-repeat 50% 50% fixed;
	background-size:auto;
}
input:focus, button:focus{
	outline:none;
}
.screen-reader-text, .post-edit-link{
	display:none;
}
#page{
	position:relative;
	z-index:90;
	visibility:hidden;
	background-color:#FFF;
}
.home #page{
	background:#000 ;
	padding-bottom:1px;
}
.section-title{
	font-size:38px;
	font-weight:300;
	line-height:1.2;
	margin:0;
	margin-bottom:32px;
}
.editor-content{
	font-size:16px;
	line-height:1.8;
	color:#808080;
}

.editor-content h1, .editor-content h2, .editor-content h3, .editor-content h4, .editor-content h5, .editor-content h6{
	color:#000;
	margin:2em 0 0;
	line-height:1.2;
}
.editor-content .page-title{
	color:#EE412C;
}
.editor-content table{
	width:100%;
	margin-bottom:30px;
	line-height:1.3;
}
.editor-content td, .editor-content th{
	text-align:left;
	padding:7px 10px;
	border-bottom:1px solid #eee;
}
.editor-content th{
	background-color:#FFF;
	border-color:#EE412C;
	padding:20px 10px 7px;
	color:#000;
	font-weight:600;
}
.editor-content tr:nth-child(odd){
	background-color:#f9f9f9;
}
.editor-content h3{
	font-size:24px;
	font-weight:400;
}


.editor-content li{
	margin-top:1em;
}
.text-uppercase{
	text-transform:uppercase;
}
.title {
	margin: 0;
}
.spacer-bottom-null {
	margin-bottom: 0;
}
.spacer-top-null {
	margin-top: 0;
}
.spacer-left-null {
	margin-left: 0;
}
.spacer-right-null {
	margin-right: 0;
}
.spacer-bottom-xs {
	margin-bottom: 5px;
}
.spacer-bottom-sm {
	margin-bottom: 10px;
}
.spacer-bottom {
	margin-bottom: 20px;
}
.spacer-bottom-md {
	margin-bottom: 30px;
}
.spacer-bottom-lg {
	margin-bottom: 40px;
}
.spacer-bottom-xl {
	margin-bottom: 50px;
}
.main-navigation li a:hover {
	color: #fde6ff;
}
.table>tbody>tr>th.valign-middle, .valign-middle {
	vertical-align: middle;
}
.spacer-top-xs {
	margin-top: 5px;
}
.spacer-top-sm {
	margin-top: 10px;
}
.spacer-top {
	margin-top: 20px;
}
.spacer-top-md {
	margin-top: 30px;
}
.spacer-top-lg {
	margin-top: 40px;
}
.spacer-top-xl {
	margin-top: 50px;
}
.spacer-left-xs {
	margin-left: 5px;
}
.spacer-left-sm {
	margin-left: 10px;
}
.spacer-left {
	margin-left: 20px;
}
.spacer-left-md {
	margin-left: 30px;
}
.spacer-left-lg {
	margin-left: 40px;
}
.spacer-left-xl {
	margin-left: 50px;
}
.spacer-right-xs {
	margin-right: 5px;
}
.spacer-right-sm {
	margin-right: 10px;
}
.spacer-right {
	margin-right: 20px;
}
.spacer-right-md {
	margin-right: 30px;
}
.spacer-right-lg {
	margin-right: 40px;
}
.spacer-right-xl {
	margin-right: 50px;
}
.pad5 {
	padding: 5px;
}
.pad10 {
	padding: 10px;
}
.pad20 {
	padding: 20px;
}
.pad30 {
	padding: 30px;
}
.pad40 {
	padding: 40px;
}
.pad50 {
	padding: 50px;
}

.text-center {
	text-align: center;
}
.text-left {
	text-align: left;
}
.text-right{
	text-align:right;
}
.text-justify{
	text-align: justify;
}
.text-grey{
	color:#777777;
}
.lh-lg{
	line-height:1.875;
}

p {
	margin: 0 0 1.5em 0;
}
.wrapper {
	padding-left: 15px;
	padding-right: 15px;
}
.site-header {
	padding-top: 13px;
	padding-bottom: 12px;
	position: fixed;
	left: 0;
	top: 0;
	right: 0;
	z-index: 9900;
	opacity: 1.1;
	transition: 300ms all ease-in-out;
	-moz-transition: 300ms all ease-in-out;
	-webkit-transition: 300ms all ease-in-out;
	background-color: #000;
	
	
	-webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
	visibility: visible;
    animation-duration: 1s;
    animation-delay: 1.1s;
    animation-name: fadeInDown;
}
.admin-bar .site-header {
	top: 32px;
}
.home .site-header {
	background-color: transparent;
}
.site-header.scrolled, .home .site-header.scrolled {
	background-color: rgba(0,0,0,0.5);
}
.site-header.scrolled:hover{
	background-color:#000;
}
.main-navigaion {
	text-align: right;
}
.main-navigaion ul {
	display: inline-block;
	list-style: none;
	margin: 0;
	padding: 0;
}
.main-navigaion li {
	display: inline-block;
	margin: 0 3px;
	position:relative;
}
.main-navigaion li a {
	font-size: 14px;
	line-height: 1;
	color: #FFF;
	font-weight: 700;
	text-transform: uppercase;
	padding: 15px;
	display: inline-block;
}
.main-navigaion li[class*="current"]>a {
	color:#EF412D
}
.main-navigaion ul ul{
	position:absolute;
	background-color:rgba(0,0,0,0.7);
	text-align:left;
	width:240px;
	padding:10px 0;
	left:-9999px;
	top:100px;
	opacity:0;
	transition:600ms top ease, 600ms opacity ease;
	-moz-transition:600ms top ease, 600ms opacity ease;
	-webkit-transition:600ms top ease, 600ms opacity ease;
}
.main-navigaion ul ul:after{
	content:'';
	border-bottom:7px solid #000;
	border-left:7px solid transparent;
	border-right:7px solid transparent;
	position:absolute;
	left:15px;
	top:-7px;
	opacity:0.7;
}
.main-navigaion ul ul:before{
	position:absolute;
	content:'';
	display:block;
	width:100%;
	height:20px;
	top:-20px;
}
.main-navigaion ul li:hover>a{
	text-decoration:none;
	color:#EF412D;
}
.main-navigaion ul ul li{
}
.main-navigaion ul li:hover>ul{
	left:0;
	top:57px;
	opacity:1;
}
.main-navigaion ul ul li{
	display:block;
}
.nav-mobile{
	position:relative;
	z-index:9900;
}
.logo {
	margin: 0;
	padding: 0;
}
body.home {
	background-color: #000;
	/*background-size: 100% auto;*/
	color: #FFF;
}
.section-group {
	position: relative;
}
.home-section {
	min-height: 100vh;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-flex-direction: row;
	-ms-flex-direction: row;
	flex-direction: row;
	-webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-align-content: stretch;
	-ms-flex-line-pack: stretch;
	align-content: stretch;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	text-align: center;
	position: relative;
	padding-bottom: 70px;
}
.next-block {
	display:block;
	text-align:center;
	font-weight: 400;
	color: #FFF;
	letter-spacing: 0.2em;
	text-transform: uppercase;
	padding-bottom: 50px;
	background: transparent url(../img/ico-arr-down.png) no-repeat 50% 80% scroll;
}
.next-block-container{
	position: absolute;
	bottom: 20px;
}
.next-block:hover, .next-block:focus {
	text-decoration: none;
	color: #FFF;
}
.home-section h1 {
	font-size: 40px;
	line-height: 1.1;
	text-transform: uppercase;
	margin: 0 0 30px;
}
.home-section-1 {
	z-index: 40;
}
.home-section-2 {
	z-index: 30;
}
.home-section p {
	font-size: 16px;
	line-height: 1.8;
	font-weight: 300;
}
.sub-header {
	font-size: 18px;
}
.separator {
	background: transparent url(../img/seperator-white.png) no-repeat 50% 50% scroll;
	margin: 40px 0;
	height: 2px;
}

body.not-home #content{
	border-top:70px solid #000;
}
.separator-black{
	background: transparent url(../img/seperator-black.png) no-repeat 50% 50% scroll;
}
.seperator-left{
	background-position:left center;
}
.separator-sm {
	margin: 25px 0;
}
.btn {
	font-size: 16px;
	font-weight: 700;
	line-height: 21px;
	padding: 17px;
	border-radius: 4px;
	text-transform: uppercase;
	border: 2px solid transparent;
	display: inline-block;
	text-align: center;
	position: relative;
}
.btn:active {
	top: 2px;
}
.btn .ico {
	margin-right: 10px;
}
.btn:hover, .btn:focus {
	text-decoration: none;
}
.btn-white-bordered {
	border: 2px solid #FFF;
	color: #FFF;
}
.btn-red-bordered{
	border: 2px solid #ee412c;
	color: #ee412c;
}
.btn-red {
	border: 2px solid #EF412D;
	background-color: #EF412D;
	color: #FFF;
}
.btn-white-bordered:hover, .btn-red:hover {
	color: #FFF;
	opacity: 0.8;
}
.btn-white-bordered:focus, .btn-red:focus {
	color: #FFF;
}
.btn-red-bordered:hover{
	color: #EF412D;
	opacity: 0.8;
}
.btn-red-bordered:focus {
	color: #EF412D;
}
.actions .btn {
	text-align: center;
	min-width: 220px;
	margin: 0 15px;
}
.icon-title {
	display: inline-block;
	margin-bottom: 20px;
}
.section-bg {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	width: 100%;
}
.section-bg-bottom.section-bg {
	top: auto;
	bottom: 0;
}
.feat-item {
	padding: 0 20px;
}
.features-wrapper {
	max-width: 950px;
	padding: 25px 15px;
	margin: 0 auto 90px;
}
.site-content blockquote.feat-quote {
	border: 1px solid #666666;
	padding: 10px 20px;
	position: relative;
	border-radius: 3px;
	margin: 0 0 20px;
	font-family:Roboto Slab, sans-serif;
	font-weight:300;
}
.site-content blockquote.feat-quote:after {
	position: absolute;
	bottom: -8px;
	top:auto;
	left: 50%;
	margin-left: -8px;
	content: '';
	border-left: 8px solid transparent;
	border-right: 8px solid transparent;
	border-top: 8px solid #000;
}
.site-content blockquote.feat-quote:before {
	position: absolute;
	bottom: -9px;
	left: 50%;
	top:auto;
	margin-left: -8px;
	content: '';
	border-left: 8px solid transparent;
	border-right: 8px solid transparent;
	border-top: 8px solid #FFF;
}
.casehome-return {
	font-size: 17px;
	font-weight: 300;
}
.casehome-link {
	display: inline-block;
	margin-top: 22px;
	color: #ef412d;
	font-size: 12px;
}
.btn-xs {
	font-size: 12px;
	padding: 4px 10px;
	line-height: 16px;
	border-width: 1px;
	border-radius: 2px;
	font-weight: 400;
	text-transform: none;
}
.feat-bottom {
	margin-bottom: 20px;
}
.site-footer {
	background-color: #000;
	color:#FFF;
	padding-top: 65px;
	padding-bottom: 200px;
	border-top: 1px solid #262626;
}
.footer-menu {
	margin: 10px 0;
	padding: 0;
	font-size: 12px;
	list-style: none;
}
.footer-menu li {
	margin-top: 7px;
	color: #A3A3A3;
}
.footer-menu li .fa {
	color: #ef412d;
	margin-right: 10px;
}
.footer-menu a {
	color: #A3A3A3;
}
.footer-menu-title {
	text-transform: uppercase;
}
.footer-socials {
	font-size: 24px;
}
.footer-socials a {
	color: #A3A3A3;
	display: inline-block;
	margin-right: 12px;
}
.fooer-logo {
	display: inline-block;
	margin-top: 90px;
}
.next-block {
	animation: animationFrames linear 1s;
	animation-iteration-count: infinite;
	transform-origin: 50% 50%;
	-webkit-animation: animationFrames linear 1s;
	-webkit-animation-iteration-count: infinite;
	-webkit-transform-origin: 50% 50%;
	-moz-animation: animationFrames linear 1s;
	-moz-animation-iteration-count: infinite;
	-moz-transform-origin: 50% 50%;
	-o-animation: animationFrames linear 1s;
	-o-animation-iteration-count: infinite;
	-o-transform-origin: 50% 50%;
	-ms-animation: animationFrames linear 1s;
	-ms-animation-iteration-count: infinite;
	-ms-transform-origin: 50% 50%;
}
@keyframes animationFrames {
 0% {
 background-position:50% 80%;
}
 50% {
 background-position:50% 100%;
}
 100% {
 background-position:50% 80%;
}
}
 @-moz-keyframes animationFrames {
 0% {
 background-position:50% 80%;
}
 50% {
 background-position:50% 100%;
}
 100% {
 background-position:50% 80%;
}
}
 @-webkit-keyframes animationFrames {
 0% {
 background-position:50% 80%;
}
 50% {
 background-position:50% 100%;
}
 100% {
 background-position:50% 80%;
}
}
 @-o-keyframes animationFrames {
 0% {
 background-position:50% 80%;
}
 50% {
 background-position:50% 100%;
}
 100% {
 background-position:50% 80%;
}
}
 @-ms-keyframes animationFrames {
 0% {
 background-position:50% 80%;
}
 50% {
 background-position:50% 100%;
}
 100% {
 background-position:50% 80%;
}
}




.content-section{
	padding-top:100px;
	padding-bottom:100px;
}
.content-section.compact{
	padding-top:0px;
}
.content-header{
	padding-top:100px;
}
.content-section-xs{
	padding-top:25px;
	padding-bottom:25px;
}
.page-title{
	color:#ee412c;
	font-size:38px;
	font-weight:700;
	margin:0 0 0.4em;
	line-height:1;
}
.page-subtitle{
	color:#000;
	font-size:30px;
	font-weight:300;
	margin:0 0 0.4em;
	line-height:1;
}
.page-title-md{
	font-size:60px;
}
.page-slogan{
	font-size:24px;
	font-weight:300;
}

.section-title-md{
	font-size:25px;
}
.section-title-lg{
	font-size:48px;
}
.section-short-desc{
	font-size:22px;
	font-weight:300;
	line-height:30px;
	margin-bottom:38px;
}
.section-short-desc strong{
	font-family:Roboto Slab, georgia, serif;
	font-weight:400;
}
.section-desc{
	font-size:16px;
	color:#777777;
	line-height:24px;
}
.bg-lightgrey{
	background-color:#FBFBFB;
}
.bg-darkgrey{
	background-color:#595959;
	color:#FFF;
}
.bg-red{
	background-color:#EE412C;
	color:#FFF;
}
.video-play{
	position:absolute;
	background:transparent url(../img/play.png) no-repeat 0 0 scroll;
	width:50px;
	height:50px;
	left:20px;
	top:20px;
	z-index:90;
	cursor:pointer;
	opacity:0.5;
}
.video-play:hover{
	opacity:1;
}
.twoBlock-wrapper{
	max-width:440px;
	margin:auto;
}
.table{
	display:table;
	width:100%;
	table-layout:fixed;
}
.table-cell{
	display:table-cell;
	float:none;
}
.font-lg {
	font-size: 18px;
}
.font-md {
	font-size: 16px;
}
.font-nm {
	font-size: 14px;
}
.font-sm {
	font-size: 12px;
}
.wt-thin {
	font-weight: 100;
}
.wt-light {
	font-weight: 300;
}
.wt-normal {
	font-weight: 400;
}
.wt-semi, b {
	font-weight: 500;
}
.wt-bold, strong {
	font-weight: 700;
}

.color-red{
	color:#EE412C;
}
a.color-red:hover{
	color:#BE3323;
}
.color-white{
	color:#FFF;
}
.icon-feat{
	height:70px;
}
.bg-container{
	background-position:center center;
	background-size:contain;
	background-repeat:repeat;
}
.flex-center{
	display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-align-content: stretch;
    -ms-flex-line-pack: stretch;
    align-content: stretch;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}
.main-navigaion li.login a, .main-navigaion li.signup a{
	box-shadow:0 0 0 1px #FFF;
	border-radius:3px;
	padding:9px 15px 7px;
}
.main-navigaion li.login a:hover, .main-navigaion li.signup a:hover{
	background-color:#FFF;
	color:#000;
	text-decoration:none;
}

.keptify-pop{
}
.signup-content{
	max-width:600px;
	font-size:16px;
	line-height:1.5;
	color:#777777;
}
.signup-form-container{
	max-width:400px;
	margin:auto;
}
.keptify-pop .fancybox-skin{
	background-color:#FFF;
	border-radius:10px;
	padding:100px 50px 50px !important;
	box-shadow:none !important;
}
.pop-title{
	font-size:36px;
	margin:0 0 10px 0;
	color:#EE412C;
}
.gutter-sm{
	padding-left:8px;
	padding-right:8px;
}
.row.gutter-sm{
	margin-left:-8px;
	margin-right:-8px;
	padding-left:0;
	padding-right:0;
}
.form-control{
	font-size:16px;
	background-color:#FCFCFC;
	border:2px solid #E0E0E0;
	border-radius:4px;
	padding:8px 10px;
	width:100%;
	line-height:normal;
	display:block;
}
.btn-wide{
	width:220px;
	display:inline-block;
	text-align:center;
}
.icon-signup{
	display:block;
	margin:-60px auto 0;
}
.keptify-pop:after{
	content:'';
	display:block;
	background:transparent url(../img/icon-signup.png) no-repeat 0 0 scroll;
	width:150px;
	height:150px;
	position:absolute;
	z-index:90;
	left:50%;
	margin-left:-75px;
	top:-60px;
}
.about-top{
	position:relative;
	background-color:#000;
	text-align:center;
	padding-bottom:250px;
	padding-top:200px;
}
.about-bg{
	position:absolute;
	left:0;
	top:0;
	right:0;
	bottom:0;
	
	background-size:cover;
	opacity:0.3;
}
.about-top *{
	color:#FFF;
}
.page-title-sm{
	font-size:36px;
}
.pager-title-content{
	font-size:16px;
	line-height:2;
	margin-bottom:50px;
	margin-top:35px;
}
.about-top .pager-title-content p{
	opacity:0.7;
}
.about-team{
	background:url(../img/about-map.png) no-repeat 50% 50% scroll;
	background-size:cover;
	padding-top:65px;
	padding-bottom:65px;
}
.member-item{
	height:265px;
	margin-bottom:55px;
}
.member-item figure, .member-item figure img{
	border-radius:500px;
	overflow:hidden;
}
.member-item figure{
	width:180px;
	height:180px;
	margin:auto;
	margin-bottom:20px;
}
.member-item figure img{
	width:100%;
	height:auto;
}
.member-name{
	font-weight:700;
	font-size:16px;
}
.member-designation{
	font-weight:700;
	font-size:12px;
}
.member-social{
	color:#ee412c;
	letter-spacing:3px;
}

.member-social a{
	color:#ee412c;
}
.flex-horiz-center{
	display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-content: stretch;
    -ms-flex-line-pack: stretch;
    align-content: stretch;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
}

.site-content ul{
	list-style:none;
	margin:0;
	padding:0 0 1.5em 0;
}
.site-content ul li{
	position:relative;
	padding-left:1.2em;
}
.site-content ul li:before{
	content:'';
	width:6px;
	height:6px;
	background-color:#EF412D;
	border-radius:1em;
	left:0;
	top:0.8em;
	position:absolute;
}
.btn-fixed-width{
	min-width:220px;
}

.faq-item{
	background-color:#F2F2F2;
	font-size:16px;
	border-radius:6px;
	padding:20px;
	margin-bottom:30px;
}
.faq-title{
	font-size:18px;
	font-weight:700;
	margin:0 0 10px;
}
.faq-body{
	color:#3f3f3f;
}

.vacancy-item{
	background-color:#F1F1F1;
	display:table;
	width:100%;
	table-layout:fixed;
	margin-top:50px;
}
.vacancy-fig{
	width:237px;
	display:table-cell;
	vertical-align:top;
}
.vacancy-body{
	position:relative;
	padding:30px 30px 20px;
	color:#000;
	line-height:1.45;
	display:table-cell;
	vertical-align:top;
}
.no-of-pos{
	position:absolute;
	text-align:right;
	right:20px;
	top:20px;
}
.vacancy-post{
	color:#ee412c;
	font-family:Roboto Slab;
	font-size:18px;
	margin:0;
	line-height:1;
}
.vacany-subtitle{
	margin-bottom:0;
}
.vacancy-item-more{
	background-color:#FFF;
}
.vacancy-item-more .vacancy-body{
	border:2px dashed #EBEBEB;
	border-left:0;
	vertical-align:middle;
}

.input-group .form-control{
	border-top-right-radius: 0;
    border-bottom-right-radius: 0;
	border-right:0;
	    display: table-cell;
		    position: relative;
    z-index: 2;
    float: left;
    width: 100%;
    margin-bottom: 0;
}
.input-group {
    position: relative;
    display: table;
    border-collapse: separate;
}
 .input-group-btn {
    width: 1%;
    white-space: nowrap;
    vertical-align: middle;
}
.input-group .form-control,  .input-group-btn {
    display: table-cell;
}
.input-group-btn .btn{
	font-size:13px;
	padding: 7px 15px;
    border-radius: 0 4px 4px 0;
}

h2.widget-title, h2.comments-title{
	font-size:18px;
	font-weight:400;
	border-bottom:1px solid #EE412C;
	font-family:Roboto Slab, sans-serif;
	margin:0 0 30px;
	padding-bottom:10px;
	line-height:1;
}
.widget {
	margin-bottom:50px;
}
.social{
	background-color:#EE412C;
	width:36px;
	height:36px;
	line-height:36px;
	display:inline-block;
	text-align:center;
	color:#FFF;
	font-size:18px;
	margin-right:5px;
}
.border-bottom{
	border-bottom:1px solid #E8E8E8;
}
.sidebar-item{
	padding:0 0 30px 0;
	margin-top:30px;
}
.text-muted{
	color:#808080;
}
.latest-post-item time, .latest-post-item .author-name,
.latest-comment-item time, .latest-comment-item .author-name
{
	display:block;
	line-height:1;
}

a.row, a.media{
	display:block;
	color:inherit;
}
.blog-meta{
	margin-bottom:20px;
}
.blog-meta-item{
	display:inline-block;
	margin-right:15px;
	font-size:13px;
	color:#808080;
}
.blog-meta-item a{
	color:#808080;
}

.blog-title{
	font-weight:400;
	font-family:Roboto Slab, sans-serif;
	font-size:20px;
	line-height:1.1;
	margin:0 0 20px;
}

.blog-item{
	padding-bottom:50px;
	border-bottom:1px solid #E8E8E8;
}
.blog-item+.blog-item{
	margin-top:50px;
}

ul.pagination{
	list-style:none;
	margin-top:50px;
}
.pagination li:before{
	display:none;
	
}
ul.pagination li{
	padding:0;
	display:inline-block;
	margin:0 10px 0 0;
}
ul.pagination li a{
	color:#EE412C;
	background-color:#FFF;
	border:1px solid #EE412C;
	display:inline-block;
	padding:10px 14px;
	line-height:1;
	border-radius:3px;
}
ul.pagination li.active a, ul.pagination li a:hover{
	text-decoration:none;
	background-color:#EE412C;
	color:#FFF;
}
.media-left.spacer-right-md{
	padding-right:30px;
}
.client-fig{
	position:relative;
	margin-bottom:70px;
}
.client-fig img{
	width:100%;
}
.client-fig:before{
	content:'';
	position:absolute;
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+100&0.65+0,0+33,0+100 */
background: -moz-linear-gradient(top,  rgba(0,0,0,0.65) 0%, rgba(0,0,0,0) 33%, rgba(0,0,0,0) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 33%,rgba(0,0,0,0) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 33%,rgba(0,0,0,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#00000000',GradientType=0 ); /* IE6-9 */
left:0;
top:0;
right:0;
bottom:0;
}
h2.client-name{
	color:#FFF;
	font-size:30px;
	font-weight:700;
	position:absolute;
	margin:0;
	top:20px;
	left:20px;
	line-height:1;
	z-index:90;
	opacity:1.2
}
.case-logo{
	position:absolute;
	width:100px;
	height:100px;
	border-radius:100px;
	left:30px;
	bottom:-50px;
	overflow:hidden;
}
.case-testimonial{
	position:relative;
	padding-left:50px;
}
.case-testimonial .fa-quote-left{
	position:absolute;
	left:0;
	top:0;
	color:#ADADAD;
	font-size:18px;
}
.case-testimonial blockquote{
	padding:0;
	margin:0;
	font-size:18px;
	line-height:1.8;
	font-family:Roboto Slab, sans-serif;
	font-weight:300;
	
}
.site-content .case-testimonial blockquote:before{
	display:none;
}
.testimonial-author{
	color:#ee412c;
	font-size:14px;
	font-weight:700;
	text-transform:uppercase;
	position:relative;
	padding-top:38px;
	margin-top:27px;
}
.testimonial-author:before{
	content:'';
	border-top:2px solid #ee412c;
	width:51px;
	position:absolute;
	top:0;
	left:0;
	
}

.case-excerpt-text{
	line-height:1.8;
}
.case-excerpt-text a{
	color:#EE412C;
}
.case-item{
border-bottom:1px solid #E8E8E8;
padding-bottom:70px;
margin-bottom:70px;
}
.site-content blockquote{
	position:relative;
}
.site-content blockquote:before{
	position:absolute;
	left:-40px;
	top:0;
	content:'\f10d';
	    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
	font-size:2em;
	color:#ccc;
}


ol.commentlist { list-style:none; margin:0 0 1em; padding:0; text-indent:0; }
ol.commentlist li { }
ol.commentlist li.alt { }
ol.commentlist li.bypostauthor {}
ol.commentlist li.byuser {}
ol.commentlist li.comment-author-admin {}
ol.commentlist li.comment { border-bottom:1px dotted #666; padding:1em; }
ol.commentlist li.comment div.comment-author {}
ol.commentlist li.comment div.vcard { font:normal 16px georgia,times,serif; }
ol.commentlist li.comment div.vcard cite.fn { font-style:normal; }
ol.commentlist li.comment div.vcard cite.fn a.url {}
ol.commentlist li.comment div.vcard img.avatar { border:5px solid #ccc; float:right; margin:0 0 1em 1em; }
ol.commentlist li.comment div.vcard img.avatar-32 {}
ol.commentlist li.comment div.vcard img.photo {}
ol.commentlist li.comment div.vcard span.says {}
ol.commentlist li.comment div.commentmetadata {}
ol.commentlist li.comment div.comment-meta { font-size:9px; }
ol.commentlist li.comment div.comment-meta a { color:#ccc; }
ol.commentlist li.comment p { font-size:11px; margin:0 0 1em; }
ol.commentlist li.comment ul { font-size:11px; list-style:square; margin:0 0 1em 2em; }
ol.commentlist li.comment div.reply { font-size:11px; }
ol.commentlist li.comment div.reply a { font-weight:bold; }
ol.commentlist li.comment ul.children { list-style:none; margin:1em 0 0; text-indent:0; }
ol.commentlist li.comment ul.children li {}
ol.commentlist li.comment ul.children li.alt {}
ol.commentlist li.comment ul.children li.bypostauthor {}
ol.commentlist li.comment ul.children li.byuser {}
ol.commentlist li.comment ul.children li.comment {}
ol.commentlist li.comment ul.children li.comment-author-admin {}
ol.commentlist li.comment ul.children li.depth-2 { border-left:5px solid #555; margin:0 0 .25em .25em; }
ol.commentlist li.comment ul.children li.depth-3 { border-left:5px solid #999; margin:0 0 .25em .25em; }
ol.commentlist li.comment ul.children li.depth-4 { border-left:5px solid #bbb; margin:0 0 .25em .25em; }
ol.commentlist li.comment ul.children li.depth-5 {}
ol.commentlist li.comment ul.children li.odd {}
ol.commentlist li.even { background:#fff; }
ol.commentlist li.odd { background:#f6f6f6; }
ol.commentlist li.parent { border-left:5px solid #111; }
ol.commentlist li.thread-alt { }
ol.commentlist li.thread-even {}
ol.commentlist li.thread-odd {}
.comment-form textarea, .comment-form input[type="text"], .comment-form input[type="email"], .comment-form input[type="url"]{
    font-size: 16px;
    background-color: #FCFCFC;
    border: 2px solid #E0E0E0;
    border-radius: 4px;
    padding: 8px 10px;
    width: 100%;
    line-height: normal;
    display: block;
}

.form-submit input{
	font-size: 16px;
    font-weight: 700;
    line-height: 21px;
    padding: 10px;
    border-radius: 4px;
    text-transform: uppercase;
    border: 2px solid transparent;
    display: inline-block;
    text-align: center;
    position: relative;
	    border: 2px solid #EF412D;
    background-color: #EF412D;
    color: #FFF;
}
.form-submit input:hover{
	opacity:0.8;
}

.search-form{
	position: relative;
    display: table;
    border-collapse: separate;
	width:100%;
}
.search-form label{
	width: 100%;
	display: table-cell;
	margin:0;
}
.search-form .search-field {
	font-size: 16px;
    background-color: #FCFCFC;
    border: 2px solid #E0E0E0;
    border-radius: 4px;
    padding: 8px 10px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-right: 0;
    position: relative;
    z-index: 2;
    float: left;
    width: 100%;
    margin-bottom: 0;
	display:block;
	box-sizing:border-box;
}
.search-form .search-submit {
    font-size: 13px;
    padding: 7px 15px;
    border-radius: 0 4px 4px 0;
	font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    border: 2px solid transparent;
    text-align: center;
    position: relative;
	    border: 2px solid #EF412D;
    background-color: #EF412D;
    color: #FFF;
}
h1.entry-title{
	margin-top:0;
}
.section-conversion h3{
	margin:0;
}