
@media (max-width:1199px) {
.content-section {
	padding-top: 50px;
	padding-bottom: 50px;
}
.section-title {
	font-size: 32px;
	margin-bottom: 20px;
}
.section-short-desc {
	font-size: 18px;
	font-weight: 300;
	line-height: 1.4;
	margin-bottom: 20px;
}

.page-title-md {
    font-size: 42px;
}
body{
	overflow-x:hidden;
}
}

@media (max-width:991px) {
	.flex-center {
	display: block;
}
	.page-title-md {
    font-size: 32px;
}
.nav-trigger {
	background-color: transparent;
	border: none;
	width: 30px;
	height: 30px;
	float: right;
	padding: 5px 0 0 0;
	margin: 0;
}
.nav-trigger .line {
	background-color: #FFF;
	width: 30px;
	height: 2px;
	display: block;
	margin: 7px 0;
	position: relative;
}
.home-section {
	padding-left: 30px;
	padding-right: 30px;
}
#page {
	overflow: hidden;
}
.menu-holder {
	opacity: 0;
	position: fixed;
	display: block;
	right: -200px;
	top: 0;
	bottom: 0;
	overflow:auto;
	width: 200px;
	padding: 70px 0;
	text-align: right;
	background-color: rgba(0,0,0,0.8);
	box-shadow: 0 0 20px rgba(0,0,0,0.5);
	transition: 300ms opacity ease, 300ms right ease;
	-moz-transition: 300ms opacity ease, 300ms right ease;
	-webkit-transition: 300ms opacity ease, 300ms right ease;
}
.main-navigaion ul li ul{
	text-align:right;
	position:relative;
	top:0;
	left:0;
	background-color: rgba(39, 39, 39, 0.8);
	display:none;
	width: 100%;
}
.main-navigaion ul li ul.sub-menu:after{
	border-bottom-color:rgb(39, 39, 39);
	opacity:0.8;
	left:auto;
	right:30px;
}
.main-navigaion ul li:hover>ul{
	top:0;
	left:0;
}
ul.sub-menu li a{
	font-weight:400;
	padding: 15px 30px;
}
.main-navigaion ul li:hover>ul{
	display:block;
}
.main-navigaion ul {
	display: block;
}
.nav-visible .menu-holder {
	opacity: 1;
	right: 0;
}
html{
	transition:300ms all ease;
	-moz-transition:300ms all ease;
	-webkit-transition:300ms all ease;
	position:relative;
	left:0;
}
html.nav-visible{
	
	left:-200px;
}
.nav-visible .nav-trigger-outer {
	display: none !important;
}
.menu-holder .nav-trigger {
	position: absolute;
	top: 13px;
	right: 30px;
}
.main-navigaion li {
	display: block;
	margin: 0;
}
.main-navigaion li a {
	display: block;
	padding: 15px 30px;
}
.main-navigaion li.login a, .main-navigaion li.signup a {
	border: none;
	background-color: #FFF;
	color: #000;
	border-radius: 0;
	padding: 15px 30px;
	box-shadow: none;
}
.menu-holder .nav-trigger .line {
}
.nav-visible .menu-holder .nav-trigger .line {
	transition: 300ms transform ease;
	-moz-transition: 300ms -moz-transform ease;
	-webkit-transition: 300ms -webkit-transform ease;
	-webkit-transition-delay: 300ms;
	transition-delay: 300ms;
}
.nav-visible .menu-holder .nav-trigger .line-1 {
	transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
	top: 9px;
}
.nav-visible .menu-holder .nav-trigger .line-3 {
	transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-webkit-transform: rotate(-45deg);
	top: -9px;
}
.nav-visible .menu-holder .nav-trigger .line-2 {
	opacity: 0;
}
.section-title br {
	display: none;
}
.embed-responsive-16by9 {
	margin-bottom: 20px;
}
.blog-title {
	margin-top: 25px;
}
.content-header {
    padding-top:50px;
}
.page-template-template-products .content-section{
	text-align:center;
}
.page-template-template-products .content-section .img-responsive{
	margin:25px auto;
}
}

@media (max-width:767px) {
	body {
	background:#000 url(../img/keptify-red-footer.png) no-repeat 50% 50% fixed;
}
.admin-bar .site-header {
    top: 46px;
	
}
.nav-visible .admin-bar .menu-holder, .admin-bar .menu-holder{
	top:46px;
}
#wpadminbar{
	position:fixed;
}
.home-section h1 {
	font-size: 20px;
	margin-bottom: 15px;
}
.separator {
	margin: 25px 0;
}
.sub-header {
	font-size: 14px;
}
.actions .btn+.btn {
	margin-top: 10px;
}
.btn {
	padding: 10px;
	font-size: 14px;
}
.btn .ico {
	display: none;
}
.site-header {
	padding-left: 0;
	padding-right: 0;
}
.home-section {
	padding-left: 15px;
	padding-right: 15px;
}
.section-bg {
	height: 100vh;
	width: auto;
	left: -50%;
}
.logo img {
	width: 90px;
	height: auto;
	display: block;
}
.nav-trigger {
	padding-top: 0
}
.home-section p {
	font-size: 13px;
	line-height: 1.5;
	font-weight: 300;
}
.feat-item {
	margin-bottom: 100px;
}
.feat-bottom {
	height: auto !important;
}
.footer-menu {
	margin-bottom: 50px
}
.wrapper {
	padding-left: 0;
	padding-right: 0;
}
.site-footer {
	padding-bottom: 30px;
	text-align: center;
}
.features-wrapper {
	margin-bottom: 0;
}
.footer-menu {
	font-size: 14px;
}
.footer-socials a {
	margin: 0 6px;
}
.col-sm-6.table-cell {
	display: block;
	width: 100%;
}
.twoBlock-wrapper {
	padding: 20px;
}
.page-wrapper {
/*padding-left:15px;
	padding-right:15px;*/
}
.section-conversion, .section-conversion .text-right, .section-conversion .text-left {
	text-align: center;
}
.section-conversion .section-title {
	font-size: 25px;
	margin-bottom: 0;
}
.section-conversion .btn.btn-white-bordered {
	margin-top: 20px;
}
.text-justify {
	text-align: left;
}
.font-md {
	font-size: 14px;
}
.lh-lg {
	line-height: 1.5;
}
.page-title {
	font-size: 32px;
}
.section-title {
	font-size: 32px;
	margin: 20px 0 10px;
}
.page-slogan {
	font-size: 18px;
	line-height: 1.4;
}
.content-section {
	padding-top: 25px;
	padding-bottom: 25px;
}
.content-header {
	padding-top: 25px;
}
body.not-home #content {
	border-top: 57px solid #000;
}
.about-top {
	padding-bottom: 25px;
}
.pager-title-content {
	font-size: 14px;
	line-height: 1.5;
	margin-bottom: 50px;
	margin-top: 25px;
}
.page-subtitle {
	font-size: 18px;
	margin: 0 0 0.4em;
	line-height: 1.5;
}
.about-team {
	padding-top: 25px;
	padding-bottom: 25px;
}
h2.client-name {
	font-size: 20px;
	top: 10px;
	left: 10px;
}
.case-logo {
	width: 60px;
	height: 60px;
	left: 20px;
	bottom: -30px;
}
.case-testimonial {
	padding-left: 30px;
}
.case-testimonial blockquote {
	margin: 40px 0 20px;
}
.case-item {
	padding-bottom: 25px;
	margin-bottom: 25px;
}
.blog-item {
	padding-bottom: 25px;
}
.blog-item+.blog-item {
	margin-top: 25px;
}
#secondary {
	margin-top: 25px;
}
.editor-content {
    font-size: 14px;
    line-height: 1.5;
}
.editor-content h1, .editor-content h2, .editor-content h3, .editor-content h4, .editor-content h5, .editor-content h6 {
    color: #000;
    margin: 0.5em 0 0;
    line-height: 1.2;
}
.vacancy-fig, .vacancy-body{
	display:block;
	width:100%;
}
.vacancy-fig img{
	width:100%;
}
}
